<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">



<bean id="daoCollaborateur" class="org.sqli.dao.CollaborateurDAOImpl" />

	<bean id="service" class="org.sqli.service.ServiceManagerImpl">
	  
	<property name="daoCollaborateur" ref="daoCollaborateur" />
	</bean>



 
<bean id="daoPersonne" class="org.sqli.dao.PersonneDAOImpl" />
<bean id="daoAdmin" class="org.sqli.dao.AdminDAOImpl" />
<bean id="daoEncadrant" class="org.sqli.dao.EncadrantDAOImpl" />
<bean id="daoManager" class="org.sqli.dao.ManagerDAOImpl" />


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/dbsqli" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>


	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="dataSource" />
	</bean>



	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
<tx:annotation-driven/>
<context:annotation-config></context:annotation-config>


</beans>
